<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Todo Client</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/angular.js"></script>
  </head>
  <body>

    <div class="todo" ng-controller="TodoController as todo">

      <form class="todo__form" ng-submit="todo.addTodo()">
        <input type="text" placeholder="Add new Todo" ng-model="todo.newTodo">
      </form>

      <ul class="todo__list">
        <li ng-repeat="item in todo.list">
          <input type="checkbox" id="todo-{{$index}}" ng-model="item.completed">
          <label class="toggle" for="todo-{{$index}}"></label>
          <p>
            {{ item.title }}
          </p>
        </li>
      </ul>


    </div>
    
    <script src="js/app.js"></script>
    <script src="js/todo.controller.js"></script>
  </body>
</html>
